.app {
  background: blue;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #ddd;
  border-radius: 4px;
  padding: 10px;
}

.todo {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 12px;
  margin-bottom: 8px;
  border-radius: 3px;
}

.todoButton {
  font-size: 8px;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .todo {
    font-size: 12px;
    padding: 8px;
  }

}

@media screen and (max-width: 768px) {
  .todo {
    font-size: 12px;
    padding: 6px;
  }
}

@media screen and (max-width: 500px) {
  .todo {
    font-size: 12px;
    padding: 6px;
  }
}